body {
    background-color: brown;
  }
h1 {
  color: seagreen;
  font-family: sans-serif;
}

p {
  color: springgreen;
  font-family: cursive;
}

li {
  color: violet;
  font-size: 0.5px;
}

nav {
  margin-left: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}

label {
  position: relative;
  display: inline-block;
}

.invalid-data {
  position: absolute;
  top: 100%;
  left: 0;
  color: rebeccapurple;
  font-size: 0.8em;
}

.delete-form {
  display: inline-block;
}